---
import heroVideo from '~/assets/videos/aerox_hero.mp4';
import challengesBadges from '../assets/images/challengesBadges.jpg';
import classementCLM from '../assets/images/classementCLM.jpg';
import editeurSeance from '../assets/images/editeurSeance.jpg';
import Milan_HT from '../assets/images/Milan_HT.jpg';
import Milan_Tete from '../assets/images/Milan_tete.jpg';
import Olivier_Tete from '../assets/images/Olivier_tete2.png';
import posterPuissance from '../assets/images/posterPuissance.jpg?url';
import Ropert_Tete from '../assets/images/ropert1.jpg';

import simulationGPX from '../assets/images/simulationGPX.jpg';

import Frederic_tete from '../assets/images/Frederic_tete.jpg';

import demoPuissance from '../assets/videos/demo_puissance.mp4';

import Layout from '~/layouts/PageLayout.astro';

import CountDown from '~/components/widgets/CountDown.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps from '~/components/widgets/Steps.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'AeroX — Analyse et améliore ton aérodynamisme à vélo',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    video={{ src: heroVideo, alt: 'Démonstration AeroX' }}
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Télécharge AeroX maintenant',
        icon: 'tabler:download',
        href: 'https://github.com/onwidget/astrowind',
      },
    ]}
  >
    tagline="En bêta le 1er septembre"

    <Fragment slot="subtitle">
      <!-- <span class="font-bold">
        Ta puissance devient</span
      >
      <span class="font-bold text-primary">vitesse</span> -->
    </Fragment>

    <Fragment slot="title">
      <span class="font-bold">Le cyclisme indoor, <span class="text-primary">l'aérodynamisme en plus.</span></span>
    </Fragment>
    <Fragment slot="paragraph">
      Gagne jusqu'à&nbsp;<span class="font-bold text-accent">3&#8239;km/h</span>, économise&nbsp;<span
        class="font-bold text-accent"
        >40&#8239;W<br />
      </span> avec une simple webcam.
    </Fragment>

    <Fragment slot="content">
      Plus que <CountDown targetDate="2025-09-30T00:00:00" />&nbsp;pour profiter <span class="font-bold"
        >d'avantages exclusifs</span
      >!
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Notre Philosophie:" description="Innovation, simplicité, efficacité" />

  <!-- Features2 Widget ************** -->

  <Features2
    tagline="Fonctionnalités"
    title="Tout ce dont tu as besoin pour aller plus vite"
    subtitle="Place l'aérodynamisme au coeur de ton entrainement"
    items={[
      {
        title: 'Mode Puissance',

        description: "Découvre l'impact de ta position sur ta vitesse.",

        objectif: 'Convertis chaque watt en km/h',
        icon: 'flat-color-icons:flash-on',
        video: { src: demoPuissance, alt: 'Démonstration Mode Puissance', poster: posterPuissance },
        callToAction: {
          variant: 'primary',
          text: 'Deviens plus rapide maintenant',
          href: '/telechargement',
          icon: 'tabler:bolt-filled',
          target: '_blank',
        },
      },
      {
        title: 'Mode vitesse',
        objectif: 'Économise tes watts',
        description: "Ressens la résistance s'adapter à ton aérodynamisme.",
        video: { src: demoPuissance, poster: posterPuissance },
        icon: 'flat-color-icons:gallery',
        callToAction: {
          variant: 'primary',
          text: 'Ressens ce que te coûte ta position',
          href: '/telechargement',
          icon: 'tabler:player-play-filled',
          target: '_blank',
        },
      },
      {
        title: 'Mode simulation',
        description: 'Simule ton chrono comme dans la vraie vie.',
        icon: 'flat-color-icons:globe',
        objectif: "La seule simulation où l'aéro compte vraiment",
        image: { src: simulationGPX },
        callToAction: {
          variant: 'primary',
          text: "Simule ton prochain objectif avec l'aéro",
          href: '/telechargement',
          icon: 'tabler:bike-filled',

          target: '_blank',
        },
      },

      {
        title: 'Mode Contre-La-Montre',
        description: 'Place-toi. Appuie fort. Sois le meilleur.',
        icon: 'fluent-emoji-flat:stopwatch',
        objectif: "La seule course indoor avec l'aéro",
        image: { src: classementCLM },
        callToAction: {
          variant: 'primary',
          text: 'Défie les plus grands',
          href: '/telechargement',
          icon: 'tabler:download',
          target: '_blank',
        },
      },
      {
        title: 'Mode Challenge',
        description: 'Combine puissance et aéro pour tenir la vitesse.',
        icon: 'flat-color-icons:approval',
        objectif: 'Tes badges AeroX seront le miroir de tes progrès',
        image: { src: challengesBadges, alt: 'Démonstration Mode Puissance' },
        callToAction: {
          variant: 'primary',
          text: 'Challenge ta vitesse',
          href: '/telechargement',
          icon: 'tabler:arrow-badge-up-filled',
          target: '_blank',
        },
      },

      /*  {
        title: 'Page de progression ',
        description:
          '<span class="hidden sm:inline"> Meilleure position, temps de maintien aéro, meilleures vitesses...</span><br />Tous tes progrès seront visibles ici.',
        icon: 'flat-color-icons:bullish',
        objectif:
          'Analyse tes progrès, séances après séances.',
        image: { src: Progression,},
        callToAction: {
          variant: 'primary',
          text: 'Analyse précisément ta progression',
          href: '/telechargement',
          target: '_blank',
        },
      }, */
      {
        title: 'Éditeur de séance',
        description: 'Crée tes séances ou celles de ton coach, <span class="font-bold">l\'aéro en plus.</span>',
        icon: 'flat-color-icons:edit-image',
        objectif: "Intuitif et rapide, tes séances perso en 2'",
        image: { src: editeurSeance },
        callToAction: {
          variant: 'primary',
          text: 'Personnalise tes séances aéro',
          href: '/telechargement',
          icon: 'tabler:pencil-cog',
          target: '_blank',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Note Widget ******************* -->

  <Note title="Notre Mission:" description="Démocratiser l\'aérodynamisme" />

  <!-- FAQs Widget ******************* -->

  <Testimonials
    title="Témoignages"
    testimonials={[
      {
        testimonial:
          '"Incroyable qu’un dispositif si simple soit aussi précis. Je gagne 35&#8239;W rien qu’avec ma position. J\'ai plus d’énergie pour la CAP."',
        name: 'Milan Larivière',
        job: "Triathlète élite- 2<sup>e</sup> Coupe d'Europe U23 (2025)",
        image: {
          src: Milan_HT,
          alt: 'Milan Larivière',
        },
        profile: {
          src: Milan_Tete,
          alt: 'Milan Larivière',
        },
      },
      {
        testimonial:
          '"En 4 semaines, +1 km/h sans forcer. Je ne pensais pas que l’aéro comptait autant à mon niveau. Maintenant je roule avec plus deplaisir, même dans le vent."',

        name: 'Frédéric Petit',
        job: 'Cycliste amateur - 6000&#8239;km/an',
        profile: {
          src: Frederic_tete,
          alt: 'Frédéric Petit Image',
        },
      },
      {
        testimonial:
          "\" Ancien chercheur au CNRS et triathlète, j'ai développé AeroX pour moi, il m'a fait gagner +3&#8239;km/h en course. Aujourd'hui je veux démocratiser ce feedback autrefois réservé aux pros. Une simple webcam suffit.\"",
        name: 'Olivier Demichel',
        job: "Triathlète - Fondateur d'AeroX",
        profile: {
          src: Olivier_Tete,
          alt: 'Olivier Demichel Image',
        },
      },
      {
        testimonial:
          '"Mes athlètes voient enfin l’impact de leur position. J’ai maintenant un vrai levier pour leur faire gagner de la vitesse gratuite.<br /> Merci AeroX."',
        name: 'James Ropert',
        job: 'Entraineur cyclisme - Dijon',
        profile: {
          src: Ropert_Tete,
          alt: 'James Ropert Image',
        },
      },
    ]}
    callToAction={{
      variant: 'primary',
      target: '_blank',
      text: 'Rejoins les pionniers AeroX',
      href: '/telechargement',
      icon: 'tabler:users',
    }}
  />

  <!-- Note Widget ******************* -->

  <Note title="Notre Promesse: " description="Vois, mesure, ressens l’aéro" />

  <!-- Features Widget *************** -->
  <Features
    id="features"
    title="Pourquoi intégrer l'aérodynamisme à ton entraînement ?"
    subtitle="Parce que chaque watt compte, ton budget aussi !"
    items={[
      {
        title: 'Gagne de 1 à 5 km/h sans plus d’effort',
        description:
          "AeroX révèle en temps réel les km/h que ta position te fait perdre. Même à 25&#8239;km/h tu peux gagner 1km/h ! À 45&#8239;km/h, +5km/h. Mieux qu'un vélo à 5000&#8239;€.",
        icon: 'tabler:brand-speedtest',

        education:
          "Dès 25&#8239;km/h, l’air absorbe ~70&#8239;% de ta puissance, et à 45&#8239;km/h, jusqu’à 95&#8239;%. Ton corps agit comme un parachute : AeroX mesure sa taille (surface frontale) et calcule ton gain quand tu le refermes. Résultat : +1&#8239;km/h à 25, jusqu’à +5&#8239;km/h à 45. Plie les coudes, rentre la tête, rapproche tes prolongateurs : chaque détail devient de la vitesse gratuite. AeroX te le montre.<br /><br />👉 Imagine finir ta sortie en rentrant plus vite que d’habitude, sans forcer plus. Juste la sensation de fendre l'air… plus que de la performance, du plaisir.",
        expandable: true,
        moreLabel: "On t'explique les chiffres…",
        defaultOpen: false,
        classes: {
          summary: 'text-accent hover:underline',
          more: 'mt-3',
        },
        callToAction: {
          text: 'Commence AeroX, gagne 1-5&#8239;km/h',
          href: '/telechargement',
          icon: 'tabler:download',
          variant: 'primary', // btn-primary
          class: 'mt-2',
        },
      },

      {
        title: 'Gagne en vitesse réelle, pas en puissance virtuelle',
        description:
          "Sur home-trainer, tu progresses dans un monde virtuel.<br />Avec AeroX, c'est toi qui économises 40&#8239;W. Tu deviens plus rapide dans la vraie vie.",
        icon: 'tabler:bolt',
        education:
          "Sur home-trainer, ton seul objectif est d'améliorer ta puissance. Et c'est très bien… pour t'amuser sur des courses virtuelles. Mais dehors, tu n’es pas plus rapide, parfois même moins et ta position aéro est inconfortable. C'est 40&#8239;W qui s'évaporent sans que tu t'en rendes compte. S'entraîner avec un feedback aérodynamique en temps réel a le double avantage: optimiser ta position et en faire un automatisme pour prendre plaisir sur tes entrainements et performer sur de vraies courses, là où ça compte.",
        expandable: true,
        moreLabel: 'En savoir plus…',
        defaultOpen: false,
        classes: {
          summary: 'text-accent hover:underline',
          more: 'mt-3',
        },
        callToAction: {
          text: 'Essaie AeroX, économise tes watts',
          href: '/telechargement',
          icon: 'tabler:bolt',
          variant: 'primary', // btn-primary
          class: 'mt-2',
        },
      },

      {
        title: 'Entraîne-toi comme un pro, sans budget élite',
        description:
          "Les pros maîtrisent puissance, cardio… et aérodynamisme. Un test en soufflerie ? 1500&#8239;€ minimum.<br />AeroX t’apporte le même levier, depuis ton home-trainer, avec une simple webcam. L'aéro enfin accessible.",
        icon: 'tabler:trophy',
        education:
          "Les plans d’entraînement classiques se limitent à la puissance et au cardio. Mais Evenepoel n’est pas champion du monde de CLM juste grâce à ses watts : il a appris à rester puissant dans une position aéro optimale.<br/><br/>  Malheureusement, tester son aérodynamisme reste inaccessible pour 99&#8239;% des cyclistes (souffleries, vélodromes, capteurs coûtent très chers).<br/><br/> AeroX change la donne : depuis ton home-trainer, avec une simple webcam, tu accèdes à ces données en temps réel pour optimiser ta position à l'entraînement. <br/><br/>👉 Ce que les pros paient des milliers d’euros, tu peux maintenant l’avoir chez toi. Et tu ressens ce petit frisson: 'je m’entraîne comme eux'.",
        expandable: true,
        moreLabel: "Comprendre l'entrainement des pros…",
        defaultOpen: false,
        classes: {
          summary: 'text-accent hover:underline',
          more: 'mt-3',
        },
        callToAction: {
          text: 'Entraîne-toi comme un pro avec AeroX',
          href: '/telechargement',
          icon: 'tabler:download',
          variant: 'primary', // btn-primary
          class: 'mt-2',
        },
      },

      {
        title: "Roule plus vite sans dépenser des milliers d'euros",
        description:
          "90&#8239;% de ton aéro, vient de ta position. Pas de ton vélo, ni de tes roues ou ton casque.<br />AeroX t'apprend à l'optimiser… pour moins cher qu'une paire de chaussettes aéro !",
        icon: 'tabler:currency-euro',

        education:
          "Roues profilées, cadre haut de gamme, casque dernier cri… Les effets marketing te font dépenser des milliers d’euros chaque année pour gagner quelques watts. Mais en réalité, 90&#8239;% de la résistance aérodynamique vient de ton corps, pas du matériel. Le meilleur vélo du monde ne compensera jamais une position que tu ne tiens pas plus de 5 minutes, autant rouler en vélib'. Avec AeroX, tu investis là où ça paie vraiment : ta position. <br />Ton équipement haut de gamme mérite un entraînement haut de gamme.",
        expandable: true,
        moreLabel: 'En savoir plus…',
        defaultOpen: false,
        classes: {
          summary: 'text-accent hover:underline',
          more: 'mt-3',
        },
        callToAction: {
          text: 'Accélère sans dépenser plus',
          href: '/telechargement',
          icon: 'tabler:currency-euro',
          variant: 'primary', // btn-primary
          class: 'mt-2',
        },
      },

      {
        title: 'AeroX, ça marche vraiment',
        description:
          'Avec AeroX, j’ai gagné +3&#8239;km/h, de 36 à 39&#8239;km/h, avec mon vélo de 2008 à 700&#8239;€.<br />Pas besoin de changer de vélo pour aller plus vite.',
        icon: 'tabler:users',

        education:
          'En développant et testant AeroX, j’ai compris l’importance de tenir la position aéro dès 25&#8239;km/h. J’ai rapproché mes prolongateurs, allongé la posture, abaissé tête et épaules. Même en montée, dès que la vitesse dépassait 25&#8239;km/h, je gardais la position. Résultat : de 36 à 39&#8239;km/h avec un vélo de 2008 à 700&#8239;€, sans changer de FTP. Avant, je me faisais déposer sur le plat ; plus maintenant. Rien n’aurait été possible sans feedback en temps réel. Olivier D., triathlète, fondateur d’AeroX',
        expandable: true,
        moreLabel: "Je t'explique tout…",
        defaultOpen: false,
        classes: {
          summary: 'text-accent hover:underline',
          more: 'mt-3',
        },
        callToAction: {
          text: 'Rejoins la communauté AeroX',
          href: '/telechargement',
          icon: 'tabler:download',
          variant: 'primary', // btn-primary
          class: 'mt-2',
        },
      },
    ]}
  >
    <Fragment slot="ctaDetails">
      Plus que <CountDown targetDate="2025-09-30T00:00:00" /> pour faire partie des testeurs AerOX et profiter <span
        class="font-bold text-accent">d'avantages exclusifs</span
      >!
    </Fragment>
  </Features>

  <!-- Note Widget ******************* -->

  <Note title="Notre Défi:" description="Casser des barrières, pas ton budget" />

  <!-- Content Widget

  <Content
    isReversed
    tagline="Fonctionnalités"
    title=' <span class="font-bold text-primary">AeroX</span>, la science au service de<br /><span class="font-bold text-primary"> TA PERFORMANCE</span>'
    items={[
      {
        title: 'Mesures en temps réel (webcam + IA)',
        description:
          "L'analyse vidéo assistée par IA et la science de l'aérodynamisme mesure l'efficacité de ta position, avec un simple webcam.",
      },
      {
        title: 'Vitesse & watts économisés, visibles instantanément',
        description:
          'Chaque ajustement de posture est traduit en km/h gagnés et watts économisés pour un déclic immédiat.',
      },
      {
        title: 'Comparaison de positions et réglages',
        description: 'Teste différents réglages et positions, mesure l’écart et valide ce qui te fait vraiment gagner.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1517649763962-0c623066013b?q=80&w=2070&auto=format&fit=crop',
      alt: 'Cycliste en position aéro sur home trainer, interface AeroX affichée',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Optimise ta position rapidement
      </h3>
      <p>
        AeroX te montre <strong>combien tu gagnes</strong> (km/h, watts) en changeant ta position.
        <br class="hidden sm:block" />
        <span class="text-muted-foreground">Installé en 2&#8239;min, piloté par une simple webcam.</span>
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div
        class="absolute inset-0 bg-gradient-to-br from-[#C7F9CC]/60 via-[#80ED99]/20 to-transparent dark:from-transparent dark:via-transparent"
      >
      </div>
    </Fragment>
  </Content>
 **************** -->

  <!-- Content Widget 

  <Content
    isAfterContent
    items={[
      {
        title: 'Mode puissance cible',
        description:
          "Un classique de l'entrainement, tu t'entraines dans tes différentes zones de puissance, avec des objectifs de position en plus. Objectif: stabiliser et consolider ta position aéro.",
      },
      {
        title: 'Mode vitesse cible',
        description:
          'Innovation AeroX: ici, tu dois tenir des vitesses précises. AeroX ajuste la puissance que tu dois fournir en fonciton de ta position... Objectif: ressentir les résistances aérodynamiques.',
      },
      {
        title: 'Simulation de parcours (GPX)',
        description:
          'Importe une trace : pente, vent et traînée modèlent ta vitesse. Prépare Xterra, CLM, Ironman en conditions réalistes.',
      },

      {
        title: 'Suivi de stabilité de la position',
        description:
          'Visualise la constance de ta posture dans le temps pour travailler confort, tenue et endurance en bas.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <p>
        AeroX te propose des modes d'entrainements <strong>uniques et innovants</strong>.
        <br class="hidden sm:block" />
        <span class="text-muted-foreground"> .</span>
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
**************** -->

  <!-- Content Widget

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

   **************** -->

  <!-- HighlightedPosts Widget 

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
******* -->
  <!-- FAQs Widget ******************* -->

  <!-- Pricing Widget ******************* -->

  <Prices
    title="Nos tarifs"
    subtitle="Nos offres de lancement"
    prices={[
      {
        title: 'Gratuit',
        subtitle: 'Essaie AeroX',
        price: '0',
        period: 'pendant 10 jours',
        items: [
          {
            description: 'Accès complet à AeroX',
            icon: 'tabler:award-filled',
          },
          {
            description: 'Teste ton aéro sans risque',
            icon: 'tabler:award-filled',
          },
        ],
        // countdownTarget: '2026-01-30T00:00:00', // 👈 apparaît uniquement dans cette carte

        callToAction: {
          target: '_blank',
          text: 'Lancement le 01/11/2025',
          href: '#',
        },
        hasRibbon: false,
        ribbonTitle: '',
      },
      {
        title: 'Pionnier AeroX',
        subtitle: "Jusqu'au 30&nbsp;septembre", // string OK (HTML interprété via set:html)
        countdownTarget: '2025-09-30T00:00:00', // 👈 apparaît uniquement dans cette carte

        price: '20',
        period: 'paiement unique',
        items: [
          {
            description: 'Accès complet à AeroX pendant 4 mois',
            icon: 'tabler:award-filled',
          },
          {
            description: "1 an d'abonnement à 50%",
            icon: 'tabler:currency-euro',
          },

          {
            description: 'Canal de discussion exclusif',
            icon: 'tabler:brand-whatsapp-filled',
          },

          {
            description: "Nouvelles fonctionnalités toute l'année",
            icon: 'tabler:binary-tree-filled',
          },

          {
            description: ' Fais partie des 100 premiers testeurs et entre dans l’histoire d’AeroX 🚀',
            icon: 'tabler:users',
          },
        ],
        callToAction: {
          target: '/telechargement',
          text: "Commence l'aventure AeroX",
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'Pionnier',
      },

      {
        hasChoice: true,
        title1: 'Annuel',
        subtitle1: 'Économise 30%',
        price1: 140,
        period1: '190€/an à partir de 2026',
        items1: [
          {
            description: 'Accès complet à AeroX',
            icon: 'tabler:award-filled',
          },
          {
            description: "Nouvelles fonctionnalités toute l'année",
            icon: 'tabler:binary-tree-filled',
          },
          {
            description: 'Idéal pour préparer sérieusement tes objectifs',
            icon: 'tabler:target-arrow',
          },
        ],
        // countdownTarget: '2026-01-30T00:00:00', // 👈 apparaît uniquement dans cette carte

        callToAction1: {
          target: '_blank',
          text: 'Lancement le 01/11/2025',
          href: '#',
        },

        title2: 'Mensuel',
        subtitle2: 'Sans engagement',
        price2: 15,
        period2: '22€/mois en 2026',
        items2: [
          {
            description: 'Accès complet à AeroX',
            icon: 'tabler:award-filled',
          },
          {
            description: 'Idéal pour préparer la saison estivale',
            icon: 'tabler:thumb-up-filled',
          },
        ],
        // countdownTarget: '2026-01-30T00:00:00', // 👈 apparaît uniquement dans cette carte

        callToAction2: {
          target: '_blank',
          text: 'Lancement le 01/11/2025',
          href: '#',
        },
        hasRibbon: false,
        ribbonTitle: '',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Mise en place simple, rapide."
    items={[
      {
        title: 'Étape 1: <span class="font-semibold">Télécharge AeroX</span>',
        description: '',
        icon: 'tabler:download',
        expandable: true, // ✅ active “En savoir plus”
        moreLabel: 'En savoir plus...', // (optionnel) libellé du summary
        defaultOpen: false, // (optionnel) ouvert par défaut
        classes: {
          summary: 'text-accent hover:underline', // (optionnel) style du <summary>
          more: 'mt-3', // (optionnel) style du <details>
        },
      },
      {
        title: 'Étape 2: <span class="font-semibold">Positionne ta caméra (30 s)</span>',
        description:
          "Positionne ta webcam environ 1m30 devant ton home-trainer. Vérifie sur AeroX que tu es entièrement visible lorsque tu es sur ton vélo, c'est tout. Tu peux utiliser n'importe quelle webcam si elle peut se connecter à ton ordi, même ton téléphone via le wifi fonctionne. Pas d'excuse tu as tout ce qu'il te faut à la maison.",
        icon: 'tabler:video',
        expandable: true, // ✅ active “En savoir plus”
        moreLabel: 'En savoir plus...', // (optionnel) libellé du summary
        defaultOpen: false, // (optionnel) ouvert par défaut
        classes: {
          summary: 'text-accent hover:underline', // (optionnel) style du <summary>
          more: 'mt-3', // (optionnel) style du <details>
        },
      },
      {
        title: 'Étape 3: <span class="font-semibold">Calibre-la en 2 clics (10 sec)</span>',
        description:
          "La calibration se fait simplement en cliquant sur les 2 extrémités de ton cintre. La première fois, mesure la largeur de ton cintre et la distance caméra-cintre. Ajuste ces valeurs si besoin sur AeroX… et c’est prêt. Ces réglages resteront enregistrés et tu n'auras plus à les modifier si ton setup ne change pas.",
        icon: 'tabler:adjustments',
        expandable: true, // ✅ active “En savoir plus”
        moreLabel: 'En savoir plus...', // (optionnel) libellé du summary
        defaultOpen: false, // (optionnel) ouvert par défaut
        classes: {
          summary: 'text-accent hover:underline', // (optionnel) style du <summary>
          more: 'mt-3', // (optionnel) style du <details>
        },
      },
      {
        title: 'Étape 4: <span class="font-semibold">Connecte ton home-trainer (20 sec)</span>',
        description:
          'La détection se fait en Bluetooth — rapide et sans configuration complexe. AeroX détecte ton home-trainer et ton cardio. Choisis tes équipements, la connexion sera ensuite automatique. Compatible avec Wahoo, Elite, Tacx, Saris, Kickr, Suito, Zwift, etc. Fonctionne avec Garmin, Polar, Suunto pour la fréquence cardiaque.',
        icon: 'tabler:bluetooth',
        expandable: true, // ✅ active “En savoir plus”
        moreLabel: 'En savoir plus...', // (optionnel) libellé du summary
        defaultOpen: false, // (optionnel) ouvert par défaut
        classes: {
          summary: 'text-accent hover:underline', // (optionnel) style du <summary>
          more: 'mt-3', // (optionnel) style du <details>
        },
      },
      {
        title: 'Prêt!',
        icon: 'tabler:check',
      },
    ]}
    actions={[
      {
        variant: 'primary',
        text: 'Télécharge AeroX',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Note Widget ******************* -->
  <Note title="Notre Passion:" description="Frisson, vitesse, sensation" />

  <!-- FAQ Widget ******************* -->

  <FAQs
    title="Questions fréquentes"
    subtitle="Toutes les réponses à vos questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    actions={[
      {
        variant: 'primary',
        text: 'Écris ton futur avec AeroX',
        href: '/telechargement',
        target: '_blank',
  //      icon: 'tabler:download',
      },
    ]}
    items={[
      {
        title: 'Pourquoi AeroX ?',
        education:
          "Parce qu'à partir de 25 km/h, l’aérodynamisme représente entre 70 et 95 % de ce qui te freine. Sans donnée, toi comme moi, on appuie juste plus fort pour suivre celui qui est devant. On pense que c'est la seule solution, parce qu'on ne sait pas.<br />AeroX te montre les autres solutions. Tu ne pourras plus dire: je ne savais pas. ",
        expandable: true,
        moreLabel: "On t'explique ça en chiffres…",
        defaultOpen: false,
  //      icon: 'flat-color-icons:services',
      },

      {
        title: 'De quels outils ai-je besoin ?',
        education:
          'Seulement un home-trainer connecté (compatible Bluetooth FTMS), ton vélo, un ordi (macOs ou Windows) et une simple caméra. Celle de ton ordinateur, de ton smartphone ou une caméra USB. ',
        expandable: true,
        moreLabel: 'Un ordinateur, ton Home-Trainer, une caméra',
        defaultOpen: false,
  //      icon: 'flat-color-icons:support',
      },
      {
        title: 'Combien de temps faut-il pour mettre AeroX en place ? ',
        education:
          ' Place ta caméra devant ton home-trainer, calibre-la en 2 clics, tu es prêt à t’entraîner avec ton feedback aéro.',
        expandable: true,
        moreLabel: 'En moins de 2 minutes, ton home-trainer devient une soufflerie virtuelle…',
        defaultOpen: false,
  //      icon: 'flat-color-icons:expired',
      },
      {
        title: 'Mon matériel est-il compatible ?',
        education:
          'Oui, AeroX fonctionne avec la majorité des home-trainers connectés (Wahoo, Elite, Tacx, Saris, etc.). Pour le moment, seules les version MacOs et Windows sont disponible. Nous développons les versions tablette. Si ton HT n’est pas interactif, tu peux quand même utiliser AeroX en mode analyse (feedback visuel sans contrôle de résistance).',
        expandable: true,
        moreLabel: 'Compatible avec 95% des HT connectés, probablement le tien…',
        defaultOpen: false,
  //      icon: 'flat-color-icons:ok',
      },
      {
        title: 'Innovation ou gadget ?',
        education:
          "Développé par un chercheur au CNRS et triathlète, AeroX a mis toutes les chances de son côté. AeroX te donne enfin un feedback concret sur ton aéro, comme un cardiofréquencemètre l’a fait pour ton cœur il y a 20 ans. Aujourd'hui, s'entraîner sans capteur de FC ou de puissance parait inconcevable. Demain sera AeroX.",
        expandable: true,
        moreLabel: 'Essaie pour te faire ton propre avis…',
        defaultOpen: false,
  //      icon: 'fluent-emoji-flat:light-bulb',
      },

      {
        title: 'Je suis cycliste, est-ce vraiment utile quand on roule en peloton ?',
        education:
          "Soyons franc, rester au milieu du peloton n'est pas la réalité du cyclisme. Effet de bordures, échappées ou rythmer le peloton sont des situations où ton aérodynamisme fera la différence. Et qui sait, avec 3km/h de plus, tu pourrais prendre plaisir à t'échapper.",
        expandable: true,
        moreLabel: 'Oui, sauf si tu veux rester derrière !',
  //      icon:'twemoji:woman-biking-medium-dark-skin-tone'
      },
      {
        title: "Ai-je besoin d'un abonnement pour trouver et tester ma position optimale ?",
        education:
          'Oui, tu peux tester gratuitement ta position dès le premier jour du plan gratuit. Et avec l’abonnement, tu transformes cette position en automatisme solide. Elle deviendra ton 6<sup>ème</sup> sens en extérieur.',
        expandable: true,
        moreLabel: 'Teste avec le plan gratuit, progresse avec un abonnement',
        defaultOpen: false,
 //       icon: 'flat-color-icons:debt',
      },
      {
        title: 'Je suis habitué à ma position aéro, est-ce utile pour moi ?',
        education:
          'Oui. Être en position ne suffit pas : ce qui compte, c’est son efficacité réelle. AeroX rend visibles les détails que tu ne ressens pas : tête trop haute, coudes trop écartés… Autant de watts perdus que tu peux corriger avec un feedback instantané.',
        expandable: true,
        moreLabel: "Tenir la position, c'est bien mais est-elle efficace ?",
        defaultOpen: false,
  //      icon:'twemoji:person-biking-medium-skin-tone'
      },
      {
        title: 'J’ai déjà un coach ça ne suffit pas ?',
        education:
          "Ton coach peut programmer une séance aéro, mais seul AeroX te dira si ta position était vraiment efficace du début à la fin. Les deux sont complémentaires. Bonus: notre éditeur de séance intuitif te permets de recréer les séancs de ton coach en 2'.",
        expandable: true,
        moreLabel: "AeroX te donne des données que ton coach n'a pas",
        defaultOpen: false,
 //       icon: 'flat-color-icons:manager',
      },

      {
        title: 'Je prépare une course à l’autre bout du monde, comment AeroX m’aide spécifiquement ?',
        education:
          'Avec le mode GPX, tu importes le parcours exact de ta course. AeroX simule le relief, la distance, et surtout l’impact de ton aérodynamisme. Tu t’entraînes comme si tu y étais déjà : le jour J, rien ne te surprend, ni les côtes, ni le vent, ni ta position. Plus important encore, tu sais exactement les sections où tu dois impérativement être en position, et les pentes où tu vas plutot chercher le confort quand ta vitesse baisse.',
        expandable: true,
        moreLabel: 'AeroX te prépares à tout',
        defaultOpen: false,
    //    icon: 'flat-color-icons:globe',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Pionniers', amount: '290+' },
      { title: 'km/h gagnés en moyenne', amount: '+2.3' },
      { title: 'Économisés à 30km/h', amount: '-35 W' },
    ]}
  />

  <!-- CallToAction Widget *********** -->
</Layout>
