---
// src/pages/index.astro
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="refresh" content="0; url=/fr/" />
    <script>
      window.location.href = "/fr/";
    </script>
  </head>
  <body>
    <p>Redirection vers <a href="/fr/">la version française</a>...</p>
  </body>
</html>
